.navbar-container {
    background-color: rgb(226, 85, 4);
    height: 100px;
    width: 100%;
    max-height: 10%;
    display: flex;
    padding: 0 25px 0 25px;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
.links-container{
    margin-right: 60px;
    display: flex;
}
.login-signup-separator{
    margin: 10px 5px 10px 5px;
}
.link{
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    color: black;
}
.link:hover{
    background-color: rgb(196, 95, 7);
}
.non-signin-link{
    padding-left: 20px;
    padding-right: 20px;
}